<p><%= @error %></p>
<h1> Log In! </h1>
<br>
<br>
<form action="login" method="post">
<label>username:</label>
    <input type="text" name="username">
    <label>password:</label>
    <input type="password" name="password">
    <input type="submit" value="Log In">
</form>