<p><%= @error %></p>
<h1> Please Sign Up! </h1>
<br>
<br>
<form action="signup" method="post">
    <label>username:</label>
    <input type="text" name="username">
    <label>password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>