<h1>Podcasts!</h1>
<h2>Check out the entire list of our users Favorite Podcasts!</h2>
<br>
<br>
<% @podcasts.each do |podcast| %>
    <h3><a href="/podcasts/<%=podcast.id %>"><%=podcast.name %></a> </h3>
    <h4><%=podcast.episode_name %></h4>
    <% if current_user == podcast.user %>
        <a href="/podcasts/<%= podcast.id %>/edit">Edit</a>
    <% end %>
<% end %>
    