<h1>Add a Podcast</h1>

<form action="/podcasts" method="post">
<br>
<label>Podcast Name:</label>
<input type="text" name="name">

<label>Host:</label>
<input type="text" name="host">
<br>
<label>Episode Number:</label>
<input type="text" name="episode_number">
<label>Episode Name:</label>
<input type="text" name="episode_name">
<br>
<button type="submit">Add Podcast</button>

</form>
